table {
    width: 50%;
}

#button:hover, #button-A, #button-B, #button-C {
    color: white;
    cursor: pointer;
}

.tg-wrap {
    margin: 30px 0px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px auto;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 20px 20px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 20px 20px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-ytau {
    font-weight: bold;
    background-color: #00009b;
    color: #f8ff00;
    text-align: center;
    vertical-align: top
}

#button, #button-A, #button-B, #button-C {
    background-color: #00009b;
    color: #ffffff;
    text-align: center;
    vertical-align: top
}

@media screen and (max-width: 767px) {
    .tg {
        width: auto !important;
    }
    .tg col {
        width: auto !important;
    }
    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: auto 0px;
    }
}

.scoreboard {
    text-align: center;
    margin: 100px;
    font-size: 30px;
}

.questions {
    text-align: center;
    margin-bottom: 100px;
    font-size: 30px;
    height: 50px;
}

.answers {
    text-align: center;
}

.comment {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}